*{
    box-sizing: border-box;
}

.escondido {
    display: none;
}

.barra-topo{
    background-color: #EC362D;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
}

.tela1{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tela1 > span{
    margin-right: 940px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.lista-usuario1{
    background-color: white;
    margin-top: 50px;
    margin-bottom: 80px;
    border: 2px dashed #d5d5d5;
    width: 1100px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-usuario1 span{
    width: 220px;
    color: #B9B9B9;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-align: center;
}

.botao-criar1{
    color: #EC362D;
    width: 120px;
    height: 30px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.lista-api1{
    margin: 10px 0 30px 0;
    width: 1100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: gray;
}

.quizzes-api1{
    width: 340px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    word-break: break-all;
    display: flex;
    justify-content: center;
}

.quizzes-api1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    }

.degrade{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    position: absolute;
}

.quizzes-api1 span{
    color: white;
    width: 90%;
    margin: 140px 10px 0 10px;
    display: flex;
    justify-content: center;
    line-height: 25px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
}

@media (max-width: 1100px) {
   
    .lista-usuario1{
        width: 80%;
    }

    .tela1 > span{
        margin-right: 66%;
    }
    .lista-api1{
        width: 80%;
    }

    .quizzes-api1{
        width: 30%;
        height: 30%;
    }


}