* {
  box-sizing : border-box;
}

.conteudo2 {
    max-width: 1440px;
    margin: 0 auto;
  }
  
.imagem-quizz2 {
    height: 227px;
    width: 100%;
    margin-top: 69px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  
.imagem-quizz2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.escurecer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
  }
  
.imagem-quizz2 p {
    position: absolute;
    font-size: 29px;
    font-weight: 400;
    color: red;
    top: 88px;
  }
  
.jogo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
.quadro2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    max-width: 820px;
  }
  
.pergunta2 {
    height: 100px;
    width: 100%;
    background: #2b63cc;
    text-align: center;
  }
  
.pergunta2 p {
    color: white;
    font-weight: 700;
    font-size: 20px;
    font-family :  'Roboto' , sans-serif;
    padding-top: 40px;
  }
  
.imagens2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 15px;
    font-family :  'Roboto' , sans-serif;
    font-weight: 400;
  }

  .imagem2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .imagens2 p {
    margin-left: 10px;
    font-family :  'Roboto' , sans-serif;
    font-weight: 700;
    font-size: 16px;
    max-width: 400px;
    min-width: 400px;
    padding-right: 5px;
    padding-left: 5px;
  }
  
.imagens2 img {
    width: 380px;
    height: 230px;
  
  }

  .borda-verde {
    border: 5px solid green;
  }
  
  .borda-vermelha {
    border: 5px solid red;
  }

.escondido {
    display: none;
}

.barra-topo{
    background-color: #EC362D;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
}

.tela1{
    display: flex;
    align-items: center;
    flex-direction: column;
}



.tela1 > span{
    margin-right: 940px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.lista-usuario1{
    background-color: white;
    margin-top: 50px;
    margin-bottom: 80px;
    border: 2px dashed #d5d5d5;
    width: 1100px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-usuario1 span{
    width: 220px;
    color: #B9B9B9;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-align: center;
}

.botao-criar1{
    color: #EC362D;
    width: 120px;
    height: 30px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.botao-reiniciar2{
  color: #EC362D;
  width: 120px;
  height: 30px;
  border: 1px dashed #EC362D;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.lista-api1{
    margin: 10px 0 30px 0;
    width: 1100px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: gray;
}

.quizzes-api1{
    width: 340px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    word-break: break-all;
    display: flex;
    justify-content: center;
}

.quizzes-api1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    }

.degrade{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    position: absolute;
}

.quizzes-api1 span{
    color: white;
    width: 90%;
    margin: 140px 10px 0 10px;
    display: flex;
    justify-content: center;
    line-height: 25px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 1;
}

.filtrado {
  filter: brightness(0.5);
   }

  .caixa-cria-quizz3 {
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .caixa-cria-quizz3 input {
    width: 85%;
    height: 30px;
    max-width: 400px;
    border-radius: 2px;
    border: 1px solid #D1D1D1;
    font-style: italic;
    margin-top: 5px;
  }

  .caixa-cria-quizz3 button{
    background: #EC362D;
    color: white;
    min-width: 250px;
    height: 30px;
    border: 1px solid #EC362D;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.tela3-1 {
  display: none;
}

.começo {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 700;
  margin: 40px auto;
   }


   
@media (max-width: 1100px) {
   
    .lista-usuario1{
        width: 80%;
    }

    .tela1 > span{
        margin-right: 66%;
    }
    .lista-api1{
        width: 80%;
    }

    .quizzes-api1{
        width: 30%;
        height: 30%;
    }


}